{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n staticfiles %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link rel="stylesheet" href="{% static "css/icon.css" %}">
    <style type="text/css">
        body.block{
            overflow: hidden;
        }
        #main_illustration img{
            height: 100%;
        }
        #projet_presentation{
            font-size: 14px;
            /*letter-spacing: -1px;*/
        }
        #for{
            font-size: 12px;
        }
    </style>
{% endblock %}
{% block extra_js %}
    <script src="{% static "js/main.js" %}"></script>
    <script src="{% static "js/icon.js" %}"></script>
    <script type="text/javascript">
        i = 0;
        t = 0;
        $(document).ready(function(){
            $('footer').addClass('hide');
            $('.projet').each(function(){
                $(this).attr('rel',Math.floor(i));
                if($(this).hasClass('square')){
                    console.log('square');
                    i += 0.5;
                }else if($(this).hasClass('banner')){
                    console.log('banner');
                    i += 1;
                }
            });

        $(function() {
          $('#top').click(function() {
            $('html, body').animate({
                    scrollTop: 0
                }, 1000);
                return false;
            });
        });

        });
        $(window).load(function(){
            $('#main_illustration').height($(window).width()/2 -40);
        });
        $(window).resize(function(){
            $('#main_illustration').height($(window).width()/2 -40);
        });
    </script>
{% endblock %}
{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
<div id='menu'>
    <div class='container'>
        <div class='item'><a href='/projets'>WORK</a></div>
        <div class='item'><a href=''>CONTACT</a></div>
    </div>
</div>
<nav>
    <div id='brand'>
        <div class='left'>CLOT</div>
        <div class='right'>ILDE</div>
    </div>
    <div id='cta_menu'>
        {# <i class='fa fa-bars fa-lg'></i> #}
        <button type="button" class="tcon tcon-menu--xcross" aria-label="toggle menu">
            <span class="tcon-menu__lines" aria-hidden="true"></span>
            <span class="tcon-visuallyhidden">toggle menu</span>
        </button>
    </div>
</nav>


<div id='main_illustration' class='text-center'>
    {% if projet.illustration_alternative %}
        <img src='{{ MEDIA_URL }}{{ projet.illustration_alternative }}' alt='illustration principale projet' />
    {% elif projet.illustration_banner %}
        <img src='{{ MEDIA_URL }}{{ projet.illustration_banner }}' alt='illustration principale projet' />
    {% else %}
        <img src='{{ MEDIA_URL }}{{ projet.illustration_square }}' alt='illustration principale projet' />
    {% endif %}
</div>

<div id='presentation' class='container'>
    <div class='row'>
        <div class='col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12'>
            <div id='projet_presentation' class='row'>
                <div class='col-lg-3 col-md-3 col-sm-2' style='border-top:1px solid rgb(7,36,251);'>
                    <div style='margin:14px 0 16px 0;'>
                        <b>{{ projet.title|title }}</b></div>
                        <div id='for'>{{ projet.designer }}</div>
                    </div>
                <div class='col-lg-9 col-md-9 col-sm-10'>{{ projet.content|safe }}</div>
            </div>
        </div>
    </div>
</div>
<div id='projets'>
    {% for caption in projet.captions %}
        <div class='projet {{ caption.image_format }}' style='background-color:{{ caption.color }}; {% if forloop.counter == 2 or forloop.counter == 5 or forloop.counter == 8 %}left:50%;{% endif %}'>
            {% if caption.image_format == "banner" %}
                <img class='illustration_projet' src='{{ MEDIA_URL }}{% thumbnail caption.image 0 800 %}' alt='illustration' />
            {% else %}
                <img class='illustration_projet' src='{{ MEDIA_URL }}{% thumbnail caption.image 0 800 %}' alt='illustration' />
            {% endif %}
        </div>
    {% endfor %}
</div>

<div id='next' class='text-center'>
    {% if next_projet %}
        <a href='{{ next_projet.get_absolute_url }}'>Next</a>
    {% elif previous_projet %}
        <a href='{{ previous_projet.get_absolute_url }}'>Next</a>
    {% else %}
        ERROR
    {% endif %}
    <a id='top' href='javascript=void(0)'>
        <div id='cta_next'>
            <i class='fa fa-angle-up'></i>
        </div>
    </a>
</div>
{% endblock %}












