{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n staticfiles %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link rel="stylesheet" href="{% static "css/icon.css" %}">
    <style type="text/css">
        body.block{
            overflow: hidden;
        }
        #projet_presentation{
            font-size: 13px;
            letter-spacing: 1px;
        }
    </style>
{% endblock %}
{% block extra_js %}
    <script src="{% static "js/main.js" %}"></script>
    <script src="{% static "js/icon.js" %}"></script>
{% endblock %}
{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
<div id='menu'>
    <div class='container'>
        <div class='item'><a href='/projets'>WORK</a></div>
        <div class='item'><a href=''>CONTACT</a></div>
    </div>
</div>
<nav>
    <div id='brand'>
        <div class='left'>CLOT</div>
        <div class='right'>ILDE</div>
    </div>
    <div id='cta_menu'>
        {# <i class='fa fa-bars fa-lg'></i> #}
        <button type="button" class="tcon tcon-menu--xcross" aria-label="toggle menu">
            <span class="tcon-menu__lines" aria-hidden="true"></span>
            <span class="tcon-visuallyhidden">toggle menu</span>
        </button>
    </div>
</nav>




<div id="carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    {# <ol class="carousel-indicators"> #}
        {# <li data-target="#carousel" data-slide-to="0" class="active"></li> #}
        {# <li data-target="#carousel" data-slide-to="1"></li> #}
        {# <li data-target="#carousel" data-slide-to="2"></li> #}
    {# </ol> #}
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
    {% for k in highlights %}
        <div class="item {% if forloop.counter0 == 0 %} active {% endif %}" style='background-color:{{ k.color }};'>
            <a href='{{ k.get_absolute_url }}'>
                <img src="{{ MEDIA_URL}}{% thumbnail k.illustration_banner 0 800 center %}" alt="illustration {{ k.title }}">
            </a>
        </div>
    {% endfor %}
    </div>
    <!-- Controls -->
    {# <a class="left carousel-control" href="#carousel" role="button" data-slide="prev"> #}
        {# <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> #}
        {# <span class="sr-only">Previous</span> #}
    {# </a> #}
    {# <a class="right carousel-control" href="#carousel" role="button" data-slide="next"> #}
        {# <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> #}
        {# <span class="sr-only">Next</span> #}
    {# </a> #}
</div>

<div id='presentation' class='container'>
    <div class='row'>
        <div class='col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12'>
            <div id='projet_presentation' class='row'>
                <div class='col-lg-3 col-md-3 col-sm-2' style='border-top:1px solid rgb(7,36,251);'>
                    <div style='margin:14px 0 16px 0;'><b>{{ projet.title|title }}</b></div>
                    Graphic designer <br /> {{ projet.designer }}</div>
                <div class='col-lg-9 col-md-9 col-sm-10'>{{ projet.content|safe }}</div>
            </div>
        </div>
    </div>
</div>
<div id='projets'>
    {% for projet in projets %}
        <div class='projet {{ projet.1 }}' style='background-color:{{ projet.0.color }}; {% if forloop.counter == 2 or forloop.counter == 5 or forloop.counter == 8 %}left:50%;{% endif %}' rel='{{ projet.2 }}'>
            <a href='{{ projet.0.get_absolute_url }}'>
            {% if projet.0.illustration_banner != "" %}
                <img src='{{ MEDIA_URL }}{% thumbnail projet.0.illustration_banner 0 800 %}' alt='illustration' />
            {% else %}
                <img src='{{ MEDIA_URL }}{% thumbnail projet.0.illustration_square 0 800 %}' alt='illustration' />
            {% endif %}
            </a>
        </div>
    {% endfor %}
</div>


<script type="text/javascript">
    $('.carousel').carousel();
    transformicons.add('.tcon')
</script>

{% endblock %}












