#toggle .fa {
 /*width: 60px;*/
 display: block;
 text-align: center;
 /*color:#990000;*/
 /*font:normal 45px 'FontAwesome';*/
 /*line-height:60px;*/
 text-rendering: auto;
 -webkit-font-smoothing: antialiased;
}
#toggle .fa-angle-double-down:before {content: "\f103";}
 
.bounce {
    position: absolute;
    z-index: 999;
    /*bottom: 10px;*/
    /*left: 50%;*/
    /*margin-left:-30px;*/
    /* -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    border-radius:50%;*/
}.bounce:hover{
     animation: bounce .7s;
     -webkit-animation: bounce .7s;
     -moz-animation: bounce .7s;
     -o-animation: bounce .7s;
}.once{
     animation: bounce .9s;
     -webkit-animation: bounce .9s;
     -moz-animation: bounce .9s;
     -o-animation: bounce .9s;
    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s;
}
 
@-webkit-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
 40% {-webkit-transform: translateY(-8px);}
 60% {-webkit-transform: translateY(-3px);}
}
 
@-moz-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
 40% {-moz-transform: translateY(-8px);}
 60% {-moz-transform: translateY(-3px);}
}
 
@-o-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
 40% {-o-transform: translateY(-8px);}
 60% {-o-transform: translateY(-3px);}
}
@keyframes bounce {
 0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
 40% {transform: translateY(-8px);}
 60% {transform: translateY(-3px);}
}