{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n staticfiles %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link rel="stylesheet" href="{% static "css/icon.css" %}">
    <link rel="stylesheet" href="{% static "css/bounce.css" %}">
    <style type="text/css">
        .section{
            display: inline-block;
            width: calc(60% - 5px);
            padding-left: 35px;
            margin-bottom: 30px;
            vertical-align: top;
        }.section.last{
            width: calc(40% - 5px);
        }
        .section h2{
            line-height: 60px;
            font-size: 65px;
            font-weight: bold;
            color: rgb(11,36,251);
        }
        @media screen and (max-width: 768px){
            .section{
                width: 100%;
                padding-left: 20px;
                margin-bottom: 15px;
            }.section.last{
                display: none;
            }
            .section h2{
                line-height: 40px;
                font-size: 45px;
            }
        }
    </style>
{% endblock %}
{% block extra_js %}
    <script src="{% static "js/main.js" %}"></script>
    <script src="{% static "js/icon.js" %}"></script>
{% endblock %}
{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block main %}

<div id='menu'>
    <div class='container'>
        <div class='item'><a href='/projets'>work</a></div>
        <div class='item'><a href='/contact'>contact</a></div>
    </div>
</div>
<nav>
    <div id='brand'>
        <a href='/'>
            <div class='left' style='font-weight:lighter;'>CLOT</div>
            <div class='right' style='font-weight:lighter;'>ILDE</div>
        </a>
    </div>
    <div id='cta_menu'>
        {# <i class='fa fa-bars fa-lg'></i> #}
        <button type="button" class="tcon tcon-menu--xcross" aria-label="toggle menu">
            <span class="tcon-menu__lines" aria-hidden="true"></span>
            <span class="tcon-visuallyhidden">toggle menu</span>
        </button>
    </div>
</nav>

    <div class='section'>
        <h2>bonjour</h2>
        <h2>hello</h2>
        <h2>hola</h2>
        <h2>ciao</h2>
        <h2>bom dia</h2>
        <h2>halló</h2>
        <h2>konnichi wa</h2>
    </div>
    <div class='section last'>
        <h4 style='margin-top:20px;'>
            E <span style='font-weight:lighter;'>— <a href='mailto:clotildejaja@gmail.com'>clotildejaja@gmail.com</a></span>
        </h4>
        <h4>
            T <span style='font-weight:lighter;'>— +33 626 350 075</span>
        </h4>
    </div>
{% endblock %}