{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n staticfiles %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link rel="stylesheet" href="{% static "css/icon.css" %}">
    <style type="text/css">
        body.block{
            overflow: hidden;
        }
    </style>
{% endblock %}
{% block extra_js %}
    <script src="{% static "js/main.js" %}"></script>
    <script src="{% static "js/icon.js" %}"></script>
{% endblock %}
{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
{% if request.get_full_path == "/" %}
<a href='javascript:void(0)'>
    <div id='curtain'>
        <div id='title'>
            <div class='left'>CLOT</div>
            <div class='right'>ILDE</div>
        </div>
        <div id='toggle'>
            <i class='fa fa-angle-down'></i>
        </div>
    </div>
</a>
{% else %}
<script>
    $(window).load(function(){
        $('html, body').animate({
            scrollTop: $("#projets").offset().top - 20
        }, 0);
    });
</script>
{% endif %}
<div id='menu'>
    <div class='container'>
        <div class='item'><a href='/projets'>work</a></div>
        <div class='item'><a href=''>contact</a></div>
    </div>
</div>
<nav>
    <div id='brand'>
        <div class='left'>CLOT</div>
        <div class='right'>ILDE</div>
    </div>
    <div id='cta_menu'>
        {# <i class='fa fa-bars fa-lg'></i> #}
        <button type="button" class="tcon tcon-menu--xcross" aria-label="toggle menu">
            <span class="tcon-menu__lines" aria-hidden="true"></span>
            <span class="tcon-visuallyhidden">toggle menu</span>
        </button>
    </div>
</nav>




<div id="carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    {# <ol class="carousel-indicators"> #}
        {# <li data-target="#carousel" data-slide-to="0" class="active"></li> #}
        {# <li data-target="#carousel" data-slide-to="1"></li> #}
        {# <li data-target="#carousel" data-slide-to="2"></li> #}
    {# </ol> #}
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
    {% for k in highlights %}
        <div class="item {% if forloop.counter0 == 0 %} active {% endif %}" style='background-color:{{ k.color }};'>
            <a href='{{ k.get_absolute_url }}'>
                <img src="{{ MEDIA_URL}}{% thumbnail k.illustration_banner 0 0 center %}" alt="illustration {{ k.title }}">
            </a>
        </div>
    {% endfor %}
    </div>
    <!-- Controls -->
    {# <a class="left carousel-control" href="#carousel" role="button" data-slide="prev"> #}
        {# <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> #}
        {# <span class="sr-only">Previous</span> #}
    {# </a> #}
    {# <a class="right carousel-control" href="#carousel" role="button" data-slide="next"> #}
        {# <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> #}
        {# <span class="sr-only">Next</span> #}
    {# </a> #}
</div>

<div id='presentation' class='container'>
    <div class='row'>
        <div class='col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1'>
            <p>
                Hello, I’m Clotilde Jacqmin, a freelance multidisciplinary <br />
                designer & art director. My specialities are branding and print.
            </p>
            <p>
                <a href='mailto:clotildejaja@gmail.com'>Contact me</a> if you need help on your next project.<br />
                You can also read more about me.
            </p>
            <p>
                Here’s a selection of my work.
            </p>
        </div>
    </div>
</div>

<div id='projets'>
    {% for projet in projets %}
        <div class='projet {{ projet.1 }}' style='background-color:{{ projet.0.color }}; {% if forloop.counter == 2 or forloop.counter == 5 or forloop.counter == 8 %}left:50%;{% endif %}' rel='{{ projet.2 }}'>
            {% if projet.0.illustration_banner != "" %}
                <img class='illustration_projet' src='{{ MEDIA_URL }}{% thumbnail projet.0.illustration_banner 0 0 %}' alt='illustration' />
            {% else %}
                <img class='illustration_projet' src='{{ MEDIA_URL }}{% thumbnail projet.0.illustration_square 0 0 %}' alt='illustration' />
            {% endif %}
            <div class='more'>
                <a href='{{ projet.0.get_absolute_url }}'>
                    <img src='{% static "img/cross.png" %}' alt='see more'>
                </a>
            </div>
        </div>
    {% endfor %}
</div>


<script type="text/javascript">
    $('.carousel').carousel();
    transformicons.add('.tcon')
</script>

{% endblock %}












